<footer
class="footer footer-center p-10 bg-white text-base-content rounded"
>
<nav class="grid grid-flow-col gap-4">
  <a class="link link-hover">About us</a>
  <a class="link link-hover">Support</a>
  <a class="link link-hover">Pickup</a>
</nav>
<nav>
  <div class="grid grid-flow-col gap-4">
    <a><i class="fa-brands fa-github" style="font-size: 30px"></i></a>
    <a><i class="fa-brands fa-linkedin" style="font-size: 30px"></i></a>
    <a><i class="fa-brands fa-x-twitter" style="font-size: 30px"></i></a>
  </div>
</nav>
<aside>
  <p>Copyright © 2023 - All right reserved by Carlano Inc</p>
</aside>
</footer>