<footer
class="footer footer-center p-10 bg-white text-base-content rounded"
>
<nav class="grid grid-flow-col gap-4">
  <a class="link link-hover">#CleanClothesAtYourFingertips</a>
</nav>
<nav>
  <div class="grid grid-flow-col gap-4">
    <a href="https://github.com/PMagombedze"><i class="fa-brands fa-github" style="font-size: 30px"></i></a>
    <a href="https://www.linkedin.com/in/percy-magombedze-ab0979268/"><i class="fa-brands fa-linkedin" style="font-size: 30px"></i></a>
    <a href="https://twitter.com/P_Magombedze"><i class="fa-brands fa-x-twitter" style="font-size: 30px"></i></a>
  </div>
</nav>
<aside>
  <p>Copyright © 2023 - All right reserved by Carlano Inc</p>
</aside>
</footer>